In [1]:
%run api_keys.py
from splinter import Browser
from bs4 import BeautifulSoup as soup
import pandas as pd
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
from datetime import datetime, timedelta
import json
import re
import numpy as np
import time
from api_keys import email, passw, mongo_username, mongo_password #Please add to .gitnore file your own individual usernames and passwords. Also set up your account on the website with a watched area of your desire.
import pymongo

In [2]:
# Go to website
browser = Browser('chrome')
url = "https://housesigma.com/listings/watched-area-and-community"
browser.visit(url)
html = browser.html
soup_obj = soup(html, 'html.parser')

In [3]:
# Assign variables and Login
time.sleep(5)
browser.execute_script('document.querySelector(".app-btn.round.regular.pressed-down.btn").click();')

In [4]:
email_input = WebDriverWait(browser.driver, 10).until(
    EC.element_to_be_clickable((By.CSS_SELECTOR, '.form-input.medium.clear.input input[type="email"]'))
)
email = email
passw = passw
login = email
email_input.send_keys(login)

In [5]:
password_input = WebDriverWait(browser.driver, 10).until(
    EC.element_to_be_clickable((By.CSS_SELECTOR, '.form-input.medium.clear.input input[type="password"]'))
)
password = passw 
password_input.send_keys(password)

In [6]:
button = browser.find_by_css('.app-btn.hs_btn_login_submit_email').first
button.click()

In [7]:
browser.is_element_present_by_css('.pc-listing-card', wait_time=10)

True

In [28]:
import time

data_list = []

num_scrolls = 2

for _ in range(num_scrolls):
    browser.execute_script("window.scrollTo(0, document.body.scrollHeight);")
    time.sleep(5)

html = browser.html
soup_obj = soup(html, 'html.parser')
articles = soup_obj.find_all('article', class_='pc-listing-card')

for article in articles:
    data = {}
    
    address_element = article.find('h3', class_='address')
    address_text = address_element.text.strip() if address_element else None

    regex_pattern = r'^(\d+\s)?(.+?)\s*-\s*(.*)$'
    match = re.match(regex_pattern, address_text)

    if match:
        address_number = match.group(1)
        address = match.group(2)
        neighbourhood = match.group(3)
        data['Address'] = (address_number + address).strip() if address_number else address.strip()
        data['Neighbourhood'] = neighbourhood.strip()
    else:
        data['Address'] = address_text
        data['Neighbourhood'] = None

    json_scripts = article.find_all('script', class_='hs-script-home-struct', type='application/ld+json')

    for script in json_scripts:
        json_data = script.string
        if json_data:
            json_dict = json.loads(json_data)
            
            # Long and Lat and floor size
            if 'floorSize' in json_dict:
                data['Floor Size'] = json_dict['floorSize']['value']
            if 'geo' in json_dict:
                data['Latitude'] = json_dict['geo']['latitude']
                data['Longitude'] = json_dict['geo']['longitude']

    # Date
    date_preview_element = article.find('div', class_='date-preview')
    data['Date of Status'] = date_preview_element.text.strip() if date_preview_element else None

    # Price
    highlight_element = article.find('span', class_='highlight')
    line_through_element = article.find('span', class_='line-through')

    if highlight_element:
        data['Price Listed'] = highlight_element.text.strip()
    elif line_through_element:
        data['Price Listed'] = line_through_element.text.strip()
    else:
        data['Price Listed'] = None

    # Status
    status_element = article.select_one('div[class^="status-type"]')
    data['Status'] = status_element.text.strip() if status_element else None

    # Sold Price (if status is "Sold" or "Sold Conditional")
    if data['Status'] in ["Sold", "Sold Conditional"]:
        sold_price_element_special = article.select_one('div.price-area span.special')
        sold_price_element_highlight_special = article.select_one('div.price-area span.highlight.special')

        if sold_price_element_special:
            data['Sold Price'] = sold_price_element_special.text.strip()
        elif sold_price_element_highlight_special:
            data['Sold Price'] = sold_price_element_highlight_special.text.strip()
        else:
            data['Sold Price'] = None
    else:
        data['Sold Price'] = 0

    # Type of house
    type_element = article.find('p', class_='type')
    data['Type of House'] = type_element.text.strip() if type_element else None

    p_elements = article.find_all('p')
    for p in p_elements:
        text = p.get_text()

        # Bathroom
        if re.search(r'\b(?:bathroom)\b', text):
            bathroom_info = re.findall(r'\d+', text)
            if bathroom_info:
                data['Bathrooms'] = int(bathroom_info[0])

        # Bedroom
        if re.search(r'\b(?:bedroom)\b', text):
            bedroom_info = re.findall(r'\d+', text)
            if bedroom_info:
                data['Bedrooms'] = int(bedroom_info[0])

        # Garage
        if re.search(r'\b(?:garage)\b', text):
            garage_info = re.findall(r'\d+', text)
            if garage_info:
                data['Garage'] = int(garage_info[0])

    data_list.append(data)

for i, data in enumerate(data_list, 1):
    print(f"{i}: {data}")

1: {'Address': '89 Guelph St , Oshawa', 'Neighbourhood': 'Donevan', 'Floor Size': 5000, 'Latitude': -78.83873, 'Longitude': 43.90081, 'Date of Status': '2024-02-05', 'Price Listed': '$1,799,990', 'Status': 'Sold', 'Sold Price': '$1,650,000', 'Type of House': 'Triplex', 'Bedrooms': 6, 'Bathrooms': 5, 'Garage': 1}
2: {'Address': '135 Elizabeth St , Oshawa', 'Neighbourhood': 'McLaughlin', 'Floor Size': 3250, 'Latitude': -78.88607, 'Longitude': 43.8963, 'Date of Status': '2023-09-29', 'Price Listed': '$1,579,000', 'Status': 'Sold', 'Sold Price': '$1,505,000', 'Type of House': 'Detached', 'Bedrooms': 4, 'Bathrooms': 4, 'Garage': 3}
3: {'Address': '277 Paramount Path , Oshawa', 'Neighbourhood': 'Lakeview', 'Floor Size': 2750, 'Latitude': -78.8468423, 'Longitude': 43.867375, 'Date of Status': '2023-10-04', 'Price Listed': '$999,000', 'Status': 'Sold', 'Sold Price': '$1,300,000', 'Type of House': 'Detached', 'Bedrooms': 4, 'Bathrooms': 5, 'Garage': 1}
4: {'Address': '281 Paramount Path , Oshawa', 'Neighbourhood': 'Lakeview', 'Floor Size': 2750, 'Latitude': -78.846908, 'Longitude': 43.8673508, 'Date of Status': '2023-08-22', 'Price Listed': '$989,000', 'Status': 'Sold', 'Sold Price': '$1,280,000', 'Type of House': 'Detached', 'Bedrooms': 4, 'Bathrooms': 4, 'Garage': 1}
5: {'Address': '171 Elizabeth St , Oshawa', 'Neighbourhood': 'McLaughlin', 'Floor Size': 2750, 'Latitude': -78.88647, 'Longitude': 43.89733, 'Date of Status': '2023-11-03', 'Price Listed': '$1,250,000', 'Status': 'Sold', 'Sold Price': '$1,245,000', 'Type of House': 'Detached', 'Bedrooms': 3, 'Bathrooms': 4, 'Garage': 2}
6: {'Address': '78 Waverly St N , Oshawa', 'Neighbourhood': 'McLaughlin', 'Floor Size': 3250, 'Latitude': -78.88856, 'Longitude': 43.89425, 'Date of Status': '2024-03-06', 'Price Listed': '$1,199,000', 'Status': 'Sold', 'Sold Price': '$1,245,000', 'Type of House': 'Detached', 'Bedrooms': 4, 'Bathrooms': 4, 'Garage': 2}
7: {'Address': '97 Elgin St W , Oshawa', 'Neighbourhood': "O'Neill", 'Latitude': -78.86939, 'Longitude': 43.90162, 'Date of Status': '2023-07-18', 'Price Listed': '$1,199,000', 'Status': 'Sold', 'Sold Price': '$1,190,000', 'Type of House': 'Multiplex', 'Bedrooms': 0, 'Bathrooms': 6, 'Garage': 6}
8: {'Address': '67 Waverly St N , Oshawa', 'Neighbourhood': 'McLaughlin', 'Floor Size': 2750, 'Latitude': -78.88766, 'Longitude': 43.89447, 'Date of Status': '2023-07-14', 'Price Listed': '$1,199,900', 'Status': 'Sold', 'Sold Price': '$1,157,500', 'Type of House': 'Detached', 'Bedrooms': 4, 'Bathrooms': 4, 'Garage': 2}
9: {'Address': '289 Paramount Path , Oshawa', 'Neighbourhood': 'Lakeview', 'Floor Size': 2750, 'Latitude': -78.8471702, 'Longitude': 43.8672549, 'Date of Status': '2023-07-05', 'Price Listed': '$999,999', 'Status': 'Sold', 'Sold Price': '$1,150,000', 'Type of House': 'Detached', 'Bedrooms': 4, 'Bathrooms': 4, 'Garage': 1}
10: {'Address': '167 Heather Crt , Oshawa', 'Neighbourhood': 'Eastdale', 'Floor Size': 2750, 'Latitude': -78.82993, 'Longitude': 43.90947, 'Date of Status': '2023-12-14', 'Price Listed': '$1,188,000', 'Status': 'Sold', 'Sold Price': '$1,125,000', 'Type of House': 'Detached', 'Bedrooms': 3, 'Bathrooms': 2, 'Garage': 0}
11: {'Address': '429 Madison Ave , Oshawa', 'Neighbourhood': 'McLaughlin', 'Latitude': -78.88155, 'Longitude': 43.89874, 'Date of Status': '2023-08-04', 'Price Listed': '$999,900', 'Status': 'Sold', 'Sold Price': '$1,123,000', 'Type of House': 'Duplex', 'Bedrooms': 2, 'Bathrooms': 3, 'Garage': 0}
12: {'Address': '46 Springdale Cres , Oshawa', 'Neighbourhood': 'Donevan', 'Floor Size': 2180, 'Latitude': -78.82519, 'Longitude': 43.90472, 'Date of Status': '2024-02-28', 'Price Listed': '$999,900', 'Status': 'Sold', 'Sold Price': '$1,110,000', 'Type of House': 'Detached', 'Bedrooms': 4, 'Bathrooms': 3, 'Garage': 3}
13: {'Address': '1061 Ravine Rd , Oshawa', 'Neighbourhood': 'Lakeview', 'Floor Size': 2750, 'Latitude': -78.84579, 'Longitude': 43.8722, 'Date of Status': '2023-05-01', 'Price Listed': '$899,800', 'Status': 'Sold', 'Sold Price': '$1,110,000', 'Type of House': 'Triplex', 'Bedrooms': 4, 'Bathrooms': 3, 'Garage': 1}
14: {'Address': '151 Goodman Dr , Oshawa', 'Neighbourhood': 'McLaughlin', 'Floor Size': 1947, 'Latitude': -78.88757, 'Longitude': 43.89682, 'Date of Status': '2023-08-12', 'Price Listed': '$974,900', 'Status': 'Sold', 'Sold Price': '$1,100,200', 'Type of House': 'Detached', 'Bedrooms': 3, 'Bathrooms': 3, 'Garage': 2}
15: {'Address': '178 Amber Ave , Oshawa', 'Neighbourhood': 'McLaughlin', 'Floor Size': 1886, 'Latitude': -78.88868, 'Longitude': 43.89711, 'Date of Status': '2024-03-15', 'Price Listed': '$1,125,000', 'Status': 'Sold', 'Sold Price': '$1,100,000', 'Type of House': 'Detached', 'Bedrooms': 3, 'Bathrooms': 3, 'Garage': 2}
16: {'Address': '350 King St E , Oshawa', 'Neighbourhood': "O'Neill", 'Floor Size': 2252, 'Latitude': -78.85104, 'Longitude': 43.90082, 'Date of Status': '2024-03-06', 'Price Listed': '$1,090,000', 'Status': 'Sold', 'Sold Price': '$1,090,000', 'Type of House': 'Detached', 'Bedrooms': 3, 'Bathrooms': 3, 'Garage': 1}
17: {'Address': '378 Gibbons St , Oshawa', 'Neighbourhood': 'McLaughlin', 'Floor Size': 1748, 'Latitude': -78.88316, 'Longitude': 43.90403, 'Date of Status': '2023-05-24', 'Price Listed': '$875,000', 'Status': 'Sold', 'Sold Price': '$1,080,000', 'Type of House': 'Detached', 'Bedrooms': 3, 'Bathrooms': 3, 'Garage': 1}
18: {'Address': '939 King St E , Oshawa', 'Neighbourhood': 'Donevan', 'Floor Size': 2750, 'Latitude': -78.82921, 'Longitude': 43.90524, 'Date of Status': '2023-05-01', 'Price Listed': '$1,099,000', 'Status': 'Sold', 'Sold Price': '$1,060,500', 'Type of House': 'Detached', 'Bedrooms': 5, 'Bathrooms': 3, 'Garage': 0}
19: {'Address': '460 Athol St E , Oshawa', 'Neighbourhood': 'Central', 'Floor Size': 1557, 'Latitude': -78.84661, 'Longitude': 43.90077, 'Date of Status': '20 days ago', 'Price Listed': '$999,900', 'Status': 'Sold', 'Sold Price': '$1,052,000', 'Type of House': 'Detached', 'Bedrooms': 3, 'Bathrooms': 2, 'Garage': 2}
20: {'Address': '85 Keewatin St N , Oshawa', 'Neighbourhood': 'Donevan', 'Floor Size': 1381, 'Latitude': -78.82689, 'Longitude': 43.90757, 'Date of Status': '2023-05-01', 'Price Listed': '$879,000', 'Status': 'Sold', 'Sold Price': '$1,051,000', 'Type of House': 'Detached', 'Bedrooms': 3, 'Bathrooms': 2, 'Garage': 1}

In [32]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta

def convert_relative_timestamp(relative_timestamp):
    if " hours ago" in relative_timestamp:
        hours = int(relative_timestamp.split()[0])
        absolute_timestamp = datetime.now() - timedelta(hours=hours)
        return absolute_timestamp.date()
    elif " days ago" in relative_timestamp:
        days = int(relative_timestamp.split()[0])
        absolute_timestamp = datetime.now() - timedelta(days=days)
        return absolute_timestamp.date()
    elif "202" in relative_timestamp:
        return relative_timestamp.date()
    else:
        return datetime.now().date()

# Assuming 'data_list' is defined elsewhere
df = pd.DataFrame(data_list)

# Ensure 'Date of Status' column is in string format
df['Date of Status'] = df['Date of Status'].astype(str)

df['City'] = df['Address'].str.split(',').str[1].str.split(' - ').str[0]
df['Address'] = df['Address'].str.split(',').str[0]
df['Date of Status'] = df['Date of Status'].apply(convert_relative_timestamp)

# Convert 'Sold Price' column to strings
df['Sold Price'] = df['Sold Price'].astype(str)

# Remove '$' and ',' and convert to numeric
df['Sold Price'] = pd.to_numeric(df['Sold Price'].str.replace('$', '').str.replace(',', ''), errors='coerce')
df['Price Listed'] = pd.to_numeric(df['Price Listed'].str.replace('$', '').str.replace(',', ''), errors='coerce')

# Replace '-' with NaN in 'Price Listed' column
df['Price Listed'].replace('-', np.nan, inplace=True)

df.head(10)

AttributeError: 'str' object has no attribute 'date'

In [30]:
from pymongo import MongoClient

# Create connection string
mongo_connection_string = f'mongodb+srv://{mongo_username}:{mongo_password}@cluster0.9gjuly6.mongodb.net/'

# Connect to MongoDB
mongo_client = MongoClient(mongo_connection_string)

# Create DB
mongo_db = mongo_client.properties

# Insert data into separate collections
all_houses_collection = mongo_db.all_houses

In [31]:
# Insert data_list into MongoDB
for data in data_list:
    raw_address = data.get('Address').strip()
    address_parts = raw_address.split(',')
    if len(address_parts) >= 2:
        city = address_parts[1].split(' - ')[0].strip()
        address = address_parts[0].strip()

        house_exists = all_houses_collection.find_one({'address': address})

        if house_exists:
            all_houses_collection.update_one(
                {'address': raw_address},
                {
                    '$set': {
                        'status': data.get('Status'),
                        'sold_price': float(str(data.get('Sold Price')).replace('$', '').replace(',', '')),
                        'date_listed': datetime.combine(convert_relative_timestamp(data.get('Date of Status')), datetime.min.time())
                    }
                }
            )
        else:
                price_listed = data.get('Price Listed')
                price = None
            
                if price_listed and price_listed.strip() != '-' and price_listed.strip().replace('$', '').replace(',', '').replace('.', '').isdigit():
                    price = float(price_listed.strip().replace('$', '').replace(',', ''))
            
                new_house = {
                    'address': address,
                    'status': data.get('Status'),
                    'latitude': data.get('Latitude'),
                    'longitude': data.get('Longitude'),
                    'floor_size': data.get('Floor Size'),
                    'bedrooms': data.get('Bedrooms'),
                    'bathrooms': data.get('Bathrooms'),
                    'garage': data.get('Garage'),
                    'city': city,
                    'type_of_house': data.get('Type of House'),
                    'date_listed': datetime.combine(convert_relative_timestamp(data.get('Date of Status')), datetime.min.time()),
                    'neighbourhood': data.get('Neighbourhood'),
                    'price': price,
                    'sold_price': float(str(data.get('Sold Price')).replace('$', '').replace(',', ''))
                }
            

                all_houses_collection.insert_one(new_house)

# Remove records where 'neighbourhood' is None
all_houses_collection.delete_many({"neighbourhood": {"$eq": None}})

TypeError: combine() argument 1 must be datetime.date, not str

In [12]:
# Find duplicate addresses
pipeline = [
    {"$group": {"_id": "$address", "count": {"$sum": 1}}},
    {"$match": {"count": {"$gt": 1}}}
]

duplicate_addresses = list(all_houses_collection.aggregate(pipeline))

for address_info in duplicate_addresses:
    print(f"Address: {address_info['_id']}, Count: {address_info['count']}")

In [12]:
# Remove duplicated addresses that occur
pipeline = [
    {'$group': {
        '_id': {'address': '$address'},
        'duplicates': {'$addToSet': '$_id'},
        'count': {'$sum': 1}
    }},
    {'$match': {
        'count': {'$gt': 1}
    }}
]

cursor = all_houses_collection.aggregate(pipeline)

for group in cursor:
    to_keep = group['duplicates'][0]
    all_houses_collection.delete_many({'_id': {'$in': group['duplicates'][1:]}})
    print(f"Deleted duplicates for address: {group['_id']['address']}")

In [20]:
cursor = all_houses_collection.find().limit(10)
for document in cursor:
    print(document)

{'_id': ObjectId('65e3e8514625ce6cbae3942a'), 'address': '167 Olive Ave ', 'status': 'Sold Conditional', 'latitude': -78.85339, 'longitude': 43.88987, 'floor_size': 831, 'bedrooms': 1, 'bathrooms': 1, 'garage': 0, 'city': 'Oshawa', 'type_of_house': 'Freehold Townhouse', 'date_listed': datetime.datetime(2024, 3, 2, 0, 0), 'neighbourhood': 'Central', 'price': 319900.0, 'sold_price': 319900.0}
{'_id': ObjectId('65e3e8514625ce6cbae3942c'), 'address': '233 Bennet Dr ', 'status': 'Sold', 'latitude': -79.51915, 'longitude': 43.928, 'floor_size': 1444, 'bedrooms': 3, 'bathrooms': 2, 'garage': 1, 'city': 'King', 'type_of_house': 'Detached', 'date_listed': datetime.datetime(2024, 3, 2, 0, 0), 'neighbourhood': 'King City', 'price': 1750000.0, 'sold_price': 1691000.0}
{'_id': ObjectId('65e3e8514625ce6cbae3942d'), 'address': '124 Norwood Crt ', 'status': 'Sold', 'latitude': -78.82709, 'longitude': 43.90868, 'floor_size': 1399, 'bedrooms': 3, 'bathrooms': 2, 'garage': 1, 'city': 'Oshawa', 'type_of_house': 'Detached', 'date_listed': datetime.datetime(2024, 3, 2, 0, 0), 'neighbourhood': 'Eastdale', 'price': 780000.0, 'sold_price': 802000.0}
{'_id': ObjectId('65e3e8524625ce6cbae3942f'), 'address': '629 Crerar Ave ', 'status': 'Sold', 'latitude': -78.83612, 'longitude': 43.89229, 'floor_size': 1284, 'bedrooms': 3, 'bathrooms': 2, 'garage': 0, 'city': 'Oshawa', 'type_of_house': 'Detached', 'date_listed': datetime.datetime(2024, 3, 2, 0, 0), 'neighbourhood': 'Donevan', 'price': 675000.0, 'sold_price': 777000.0}
{'_id': ObjectId('65e3e8534625ce6cbae39438'), 'address': '610 - 153 Beecroft Rd ', 'status': 'Sold Conditional', 'latitude': -79.41436, 'longitude': 43.76526, 'floor_size': 749, 'bedrooms': 2, 'bathrooms': 1, 'garage': 1, 'city': 'North York', 'type_of_house': 'Condo Apt', 'date_listed': datetime.datetime(2024, 3, 2, 0, 0), 'neighbourhood': 'Lansing-Westgate', 'price': 675000.0, 'sold_price': 675000.0}
{'_id': ObjectId('65e3e8564625ce6cbae39443'), 'address': '1252 Hazel Way ', 'status': 'For Sale', 'latitude': -79.8365355, 'longitude': 43.5006042, 'floor_size': 1750, 'bedrooms': 4, 'bathrooms': 3, 'garage': 1, 'city': 'Milton', 'type_of_house': 'Freehold Townhouse', 'date_listed': datetime.datetime(2024, 3, 2, 0, 0), 'neighbourhood': 'Cobban', 'price': 1069900.0, 'sold_price': 0.0}
{'_id': ObjectId('65e3e85d4625ce6cbae3946a'), 'address': '1613 - 23 Lorraine Dr ', 'status': 'Terminated', 'latitude': -79.41667, 'longitude': 43.77806, 'floor_size': 849, 'bedrooms': 1, 'bathrooms': 2, 'garage': 1, 'city': 'North York', 'type_of_house': 'Condo Apt', 'date_listed': datetime.datetime(2024, 3, 2, 0, 0), 'neighbourhood': 'Willowdale West', 'price': 699000.0, 'sold_price': 0.0}
{'_id': ObjectId('65e3e85e4625ce6cbae3946d'), 'address': '1566 Farmstead Dr ', 'status': 'For Sale', 'latitude': -79.83917, 'longitude': 43.48461, 'floor_size': None, 'bedrooms': 4, 'bathrooms': 4, 'garage': 2, 'city': 'Milton', 'type_of_house': 'Freehold Townhouse', 'date_listed': datetime.datetime(2024, 3, 2, 0, 0), 'neighbourhood': 'Ford', 'price': 969900.0, 'sold_price': 0.0}
{'_id': ObjectId('65e3e8734625ce6cbae394d5'), 'address': '86 Langside Ave ', 'status': 'Sold', 'latitude': -79.51935, 'longitude': 43.71253, 'floor_size': 1630, 'bedrooms': 3, 'bathrooms': 3, 'garage': 2, 'city': 'North York', 'type_of_house': 'Detached', 'date_listed': datetime.datetime(2024, 3, 2, 0, 0), 'neighbourhood': 'Humberlea-Pelmo Park W4', 'price': 1099000.0, 'sold_price': 1450000.0}
{'_id': ObjectId('65e3e8734625ce6cbae394d7'), 'address': '16 Dunsley Way E ', 'status': 'Sold', 'latitude': -78.92526, 'longitude': 43.88482, 'floor_size': 1300, 'bedrooms': 3, 'bathrooms': 3, 'garage': 1, 'city': 'Whitby', 'type_of_house': 'Freehold Townhouse', 'date_listed': datetime.datetime(2024, 3, 2, 0, 0), 'neighbourhood': 'Pringle Creek', 'price': 759999.0, 'sold_price': 755000.0}

In [21]:
# Get number of records for each collection
all_houses_count = mongo_db.all_houses.count_documents({})

# Print the counts
print("Number of records in All Houses collection:", all_houses_count)

Number of records in All Houses collection: 4078

In [22]:
# Close MongoDB connection
mongo_client.close()

In [16]:
# Close browser
browser.quit()