<a href="https://colab.research.google.com/github/MaisieDeGraaf/Housing-Project_Final/blob/Pooja/linreg_housing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
! pip install pymongo

Requirement already satisfied: pymongo in /usr/local/lib/python3.10/dist-packages (4.6.3)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /usr/local/lib/python3.10/dist-packages (from pymongo) (2.6.1)

In [12]:
#Import our dependencies
import pandas as pd
import numpy as np
from pymongo import MongoClient
from api_keys import mongo_username, mongo_password
from pprint import pprint
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

In [6]:
#Connect to MongoClient Instance
connection_string = f"mongodb+srv://{mongo_username}:{mongo_password}@cluster0.9gjuly6.mongodb.net/mydatabase"
mongo = MongoClient(connection_string)

#Assign the db to a variable
db = mongo['properties']

#Assign collections to a variable
all_houses = db["all_houses"]
# sold_houses = db['sold_houses']

In [7]:
#Convert collections to Pandas DataFrame
houses_df = pd.DataFrame(list(all_houses.find()))
# sold_houses_df = pd.DataFrame(list(sold_houses.find()))

In [8]:
houses_df.head()

,_id,address,status,latitude,longitude,floor_size,bedrooms,bathrooms,garage,city,type_of_house,date_listed,neighbourhood,price,sold_price
0,65e3e8514625ce6cbae3942a,167 Olive Ave,Sold Conditional,-78.85339,43.88987,831.0,1.0,1.0,0.0,Oshawa,Freehold Townhouse,2024-03-02,Central,319900.0,319900.0
1,65e3e8514625ce6cbae3942c,233 Bennet Dr,Sold,-79.51915,43.92800,1444.0,3.0,2.0,1.0,King,Detached,2024-03-02,King City,1750000.0,1691000.0
2,65e3e8514625ce6cbae3942d,124 Norwood Crt,Sold,-78.82709,43.90868,1399.0,3.0,2.0,1.0,Oshawa,Detached,2024-03-02,Eastdale,780000.0,802000.0
3,65e3e8524625ce6cbae3942f,629 Crerar Ave,Sold,-78.83612,43.89229,1284.0,3.0,2.0,0.0,Oshawa,Detached,2024-03-02,Donevan,675000.0,777000.0
4,65e3e8534625ce6cbae39438,610 - 153 Beecroft Rd,Sold Conditional,-79.41436,43.76526,749.0,2.0,1.0,1.0,North York,Condo Apt,2024-03-02,Lansing-Westgate,675000.0,675000.0

In [9]:
houses_df.dtypes

_id                      object
address                  object
status                   object
latitude                float64
longitude               float64
floor_size              float64
bedrooms                float64
bathrooms               float64
garage                  float64
city                     object
type_of_house            object
date_listed      datetime64[ns]
neighbourhood            object
price                   float64
sold_price              float64
dtype: object

In [11]:
# Determine the number of unique values in each column.
unique_values = houses_df.nunique()
unique_values

_id              2972
address          2972
status              9
latitude         2351
longitude        2330
floor_size        717
bedrooms           10
bathrooms          12
garage             10
city               24
type_of_house      34
date_listed        11
neighbourhood     204
price            1110
sold_price        602
dtype: int64

In [10]:
# To check the types of houses for binning
houses_df['type_of_house'].value_counts()

type_of_house
Detached                                                        1245
Condo Apt                                                        698
Freehold Townhouse                                               297
Condo Townhouse                                                  263
Semi-Detached                                                    181
Detached, Freehold                                                55
Link                                                              54
Single Family Residence                                           44
Apartment Unit, Condominium                                       26
Vacant Land                                                       19
Condo/Apt Unit                                                    17
Row/Townhouse                                                     16
Townhouse/Row House, Condominium                                  11
Duplex                                                             8
Townhouse/Row House, Freehold                                      8
Multiplex                                                          3
Semi Detached, Single Family Residence                             3
Semi-Det Condo                                                     2
Parking Space                                                      2
Semi-Detached, Freehold                                            2
Rural Resid                                                        2
Duplex - Up/Down, Detached                                         2
Det Condo                                                          2
Residential                                                        2
House, Single Family, Freehold                                     1
Multiplex, Detached                                                1
Farm, Detached                                                     1
Farm                                                               1
Other, Freehold                                                    1
Detached, Condominium                                              1
Link, Freehold                                                     1
Fourplex                                                           1
Other                                                              1
Row / Townhouse, Attached, Single Family, Condominium/Strata       1
Name: count, dtype: int64

In [14]:
houses_df.isnull().sum()

_id               0
address           0
status            0
latitude         23
longitude        23
floor_size       75
bedrooms         27
bathrooms         4
garage            4
city              0
type_of_house     0
date_listed       0
neighbourhood     0
price             2
sold_price        0
dtype: int64

In [15]:
duplicate_rows = houses_df[houses_df.duplicated()]
if duplicate_rows.empty:
    print("No duplicate rows found.")
else:
    print("Duplicate rows found.")

No duplicate rows found.

In [16]:
houses_df.describe().T

,count,mean,min,25%,50%,75%,max,std
latitude,2949.0,-79.53139,-80.14386,-79.75169,-79.61898,-79.44763,-78.78968,0.321361
longitude,2949.0,43.65184,43.266624,43.468336,43.72581,43.84226,44.06488,0.207087
floor_size,2897.0,1843.949603,430.0,1099.0,1699.0,2250.0,5902.0,978.670519
bedrooms,2945.0,2.950764,0.0,2.0,3.0,4.0,9.0,1.077793
bathrooms,2968.0,2.887803,0.0,2.0,3.0,4.0,11.0,1.358249
garage,2968.0,1.343666,0.0,1.0,1.0,2.0,20.0,0.875741
date_listed,2972,2024-04-04 14:50:04.037685248,2024-03-01 00:00:00,2024-04-06 00:00:00,2024-04-09 00:00:00,2024-04-11 00:00:00,2024-04-12 00:00:00,NaN
price,2970.0,1291795.044108,1.0,729000.0,999900.0,1498800.0,13500000.0,1009825.878735
sold_price,2972.0,410262.503028,0.0,0.0,0.0,750000.0,9499000.0,687791.173084