# Context
### Model Explanation
In order to enhance our project, we jave decided to create a  model that would predict if a house is over or under evaluated while looking at its comparable.
This criteria will be based on the listed price : Is the home listed at a significantly higher price than the neighboring properties with similar characteristics ?
Since we are facing a classification problem with a binary outcome, we chose a Logistic Regession.

# Preprocessing

In [1]:
!pip install pymongo

Requirement already satisfied: pymongo in /usr/local/lib/python3.10/dist-packages (4.6.3)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /usr/local/lib/python3.10/dist-packages (from pymongo) (2.6.1)

In [2]:
#Importing the dependencies
import pandas as pd
from pymongo import MongoClient
from api_keys import mongo_username, mongo_password
from pprint import pprint

In [3]:
#Connection to our MongoClient Instance
connection_string = f"mongodb+srv://{mongo_username}:{mongo_password}@cluster0.9gjuly6.mongodb.net/mydatabase"
mongo = MongoClient(connection_string)

#Assigning our db to a variable
db = mongo['properties']

#Assigning our collections to a variable
all_houses = db["all_houses"]
sold_houses = db['sold_houses']

In [4]:
#Converting our colloections to Pandas DataFrame
query = {"city":{"$in":['Oshawa','Oakville','Vaughan','Milton','Burlington']}}
all_houses_df = pd.DataFrame(list(all_houses.find(query)))
sold_houses_df = pd.DataFrame(list(sold_houses.find(query)))

In [5]:
all_houses_df.head()

,_id,address,status,latitude,longitude,floor_size,bedrooms,bathrooms,garage,city,type_of_house,date_listed,neighbourhood,price,sold_price
0,65e3e8514625ce6cbae3942a,167 Olive Ave,Sold Conditional,-78.853390,43.889870,831.0,1.0,1.0,0.0,Oshawa,Freehold Townhouse,2024-03-02,Central,319900.0,319900.0
1,65e3e8514625ce6cbae3942d,124 Norwood Crt,Sold,-78.827090,43.908680,1399.0,3.0,2.0,1.0,Oshawa,Detached,2024-03-02,Eastdale,780000.0,802000.0
2,65e3e8524625ce6cbae3942f,629 Crerar Ave,Sold,-78.836120,43.892290,1284.0,3.0,2.0,0.0,Oshawa,Detached,2024-03-02,Donevan,675000.0,777000.0
3,65e3e8564625ce6cbae39443,1252 Hazel Way,For Sale,-79.836535,43.500604,1750.0,4.0,3.0,1.0,Milton,Freehold Townhouse,2024-03-02,Cobban,1069900.0,0.0
4,65e3e85e4625ce6cbae3946d,1566 Farmstead Dr,For Sale,-79.839170,43.484610,NaN,4.0,4.0,2.0,Milton,Freehold Townhouse,2024-03-02,Ford,969900.0,0.0

In [6]:
all_houses_df.dtypes

_id                      object
address                  object
status                   object
latitude                float64
longitude               float64
floor_size              float64
bedrooms                float64
bathrooms               float64
garage                  float64
city                     object
type_of_house            object
date_listed      datetime64[ns]
neighbourhood            object
price                   float64
sold_price              float64
dtype: object

Our model compares houses based on the city but also the house type. Since we have multiple different types, we are going to bin those types

In [7]:
#Checking the different types
all_houses_df['type_of_house'].value_counts()

type_of_house
Detached                                                        869
Condo Apt                                                       460
Freehold Townhouse                                              235
Condo Townhouse                                                 169
Semi-Detached                                                    86
Link                                                             33
Single Family Residence                                          21
Apartment Unit, Condominium                                      21
Condo/Apt Unit                                                   15
Detached, Freehold                                               13
Duplex                                                           10
Row/Townhouse                                                     8
Townhouse/Row House, Condominium                                  5
Vacant Land                                                       5
Townhouse/Row House, Freehold                                     4
Semi-Det Condo                                                    2
Semi-Detached, Freehold                                           2
Multiplex                                                         2
Parking Space                                                     2
Farm, Detached                                                    1
Row / Townhouse, Attached, Single Family, Condominium/Strata      1
Rural Resid                                                       1
Det Condo                                                         1
Other                                                             1
Residential                                                       1
Other, Freehold                                                   1
Semi Detached, Single Family Residence                            1
Detached, Condominium                                             1
Co-Op Apt                                                         1
Name: count, dtype: int64

In [8]:
#binning types
bin_df = all_houses_df.copy()
condo_types = ['Condo Apt','Apartment Unit, Condominium','Condo/Apt Unit','Semi-Det Condo']
townhouse_types =['Freehold Townhouse','Condo Townhouse','Townhouse/Row House, Condominium','Row/Townhouse']
bins = ['Detached','Condominium','Townhouse']
# Replace in dataframe
for i in condo_types:
    bin_df['type_of_house'] = bin_df['type_of_house'].replace(i,"Condominium")

for i in townhouse_types:
    bin_df['type_of_house'] = bin_df['type_of_house'].replace(i,"Townhouse")

for i in bin_df['type_of_house']:
  if i not in bins:
      bin_df['type_of_house'] = bin_df['type_of_house'].replace(i,"Other")
# Check to make sure binning was successful
bin_df['type_of_house'].value_counts()

type_of_house
Detached       869
Condominium    498
Townhouse      417
Other          188
Name: count, dtype: int64

Now we are creating for loops that will help us know the mean price of each type of house per city

In [9]:
#Oshawa
#Counter to sum prices
Oshawa_Detached_prices_counter = 0
Oshawa_Condominium_prices_counter = 0
Oshawa_Townhouse_prices_counter = 0
Oshawa_Other_prices_counter = 0
#Counter to sum the total
Oshawa_Detached_total_counter = 0
Oshawa_Condominium_total_counter = 0
Oshawa_Townhouse_total_counter = 0
Oshawa_Other_total_counter = 0
for index, row in bin_df.iterrows():
  if (row['city'] == 'Oshawa') & (row['type_of_house'] =='Detached'):
    Oshawa_Detached_prices_counter += row['price']
    Oshawa_Detached_total_counter += 1
  if (row['city'] == 'Oshawa') & (row['type_of_house'] =='Condominium'):
    Oshawa_Condominium_prices_counter += row['price']
    Oshawa_Condominium_total_counter += 1
  if (row['city'] == 'Oshawa') & (row['type_of_house'] =='Townhouse'):
    Oshawa_Townhouse_prices_counter += row['price']
    Oshawa_Townhouse_total_counter += 1
  if (row['city'] == 'Oshawa') & (row['type_of_house'] =='Other'):
    Oshawa_Other_prices_counter += row['price']
    Oshawa_Other_total_counter += 1
Oshawa_Detached_average_price = round(Oshawa_Detached_prices_counter / Oshawa_Detached_total_counter,2)
Oshawa_Condominium_average_price = round(Oshawa_Condominium_prices_counter / Oshawa_Condominium_total_counter,2)
Oshawa_Townhouse_average_price = round(Oshawa_Townhouse_prices_counter / Oshawa_Townhouse_total_counter,2)
Oshawa_Other_average_price = round(Oshawa_Other_prices_counter / Oshawa_Other_total_counter,2)
print(Oshawa_Townhouse_average_price)

702108.68

In [10]:
#Oakville
#Counter to sum prices
Oakville_Detached_prices_counter = 0
Oakville_Condominium_prices_counter = 0
Oakville_Townhouse_prices_counter = 0
Oakville_Other_prices_counter = 0
#Counter to sum the total
Oakville_Detached_total_counter = 0
Oakville_Condominium_total_counter = 0
Oakville_Townhouse_total_counter = 0
Oakville_Other_total_counter = 0
for index, row in bin_df.iterrows():
  if (row['city'] == 'Oakville') & (row['type_of_house'] =='Detached'):
    Oakville_Detached_prices_counter += row['price']
    Oakville_Detached_total_counter += 1
  if (row['city'] == 'Oakville') & (row['type_of_house'] =='Condominium'):
    Oakville_Condominium_prices_counter += row['price']
    Oakville_Condominium_total_counter += 1
  if (row['city'] == 'Oakville') & (row['type_of_house'] =='Townhouse'):
    Oakville_Townhouse_prices_counter += row['price']
    Oakville_Townhouse_total_counter += 1
  if (row['city'] == 'Oakville') & (row['type_of_house'] =='Other'):
    Oakville_Other_prices_counter += row['price']
    Oakville_Other_total_counter += 1
Oakville_Detached_average_price = round(Oakville_Detached_prices_counter / Oakville_Detached_total_counter,2)
Oakville_Condominium_average_price = round(Oakville_Condominium_prices_counter / Oakville_Condominium_total_counter,2)
Oakville_Townhouse_average_price = round(Oakville_Townhouse_prices_counter / Oakville_Townhouse_total_counter,2)
Oakville_Other_average_price = round(Oakville_Other_prices_counter / Oakville_Other_total_counter,2)
print(Oakville_Townhouse_average_price)

1164066.4

In [11]:
#Milton
#Counter to sum prices
Milton_Detached_prices_counter = 0
Milton_Condominium_prices_counter = 0
Milton_Townhouse_prices_counter = 0
Milton_Other_prices_counter = 0
#Counter to sum the total
Milton_Detached_total_counter = 0
Milton_Condominium_total_counter = 0
Milton_Townhouse_total_counter = 0
Milton_Other_total_counter = 0
for index, row in bin_df.iterrows():
  if (row['city'] == 'Milton') & (row['type_of_house'] =='Detached'):
    Milton_Detached_prices_counter += row['price']
    Milton_Detached_total_counter += 1
  if (row['city'] == 'Milton') & (row['type_of_house'] =='Condominium'):
    Milton_Condominium_prices_counter += row['price']
    Milton_Condominium_total_counter += 1
  if (row['city'] == 'Milton') & (row['type_of_house'] =='Townhouse'):
    Milton_Townhouse_prices_counter += row['price']
    Milton_Townhouse_total_counter += 1
  if (row['city'] == 'Milton') & (row['type_of_house'] =='Other'):
    Milton_Other_prices_counter += row['price']
    Milton_Other_total_counter += 1
Milton_Detached_average_price = round(Milton_Detached_prices_counter / Milton_Detached_total_counter,2)
Milton_Condominium_average_price = round(Milton_Condominium_prices_counter / Milton_Condominium_total_counter,2)
Milton_Townhouse_average_price = round(Milton_Townhouse_prices_counter / Milton_Townhouse_total_counter,2)
Milton_Other_average_price = round(Milton_Other_prices_counter / Milton_Other_total_counter,2)
print(Milton_Townhouse_average_price)

892208.21

In [12]:
#Vaughan
#Counter to sum prices
Vaughan_Detached_prices_counter = 0
Vaughan_Condominium_prices_counter = 0
Vaughan_Townhouse_prices_counter = 0
Vaughan_Other_prices_counter = 0
#Counter to sum the total
Vaughan_Detached_total_counter = 0
Vaughan_Condominium_total_counter = 0
Vaughan_Townhouse_total_counter = 0
Vaughan_Other_total_counter = 0
for index, row in bin_df.iterrows():
  if (row['city'] == 'Vaughan') & (row['type_of_house'] =='Detached'):
    Vaughan_Detached_prices_counter += row['price']
    Vaughan_Detached_total_counter += 1
  if (row['city'] == 'Vaughan') & (row['type_of_house'] =='Condominium'):
    Vaughan_Condominium_prices_counter += row['price']
    Vaughan_Condominium_total_counter += 1
  if (row['city'] == 'Vaughan') & (row['type_of_house'] =='Townhouse'):
    Vaughan_Townhouse_prices_counter += row['price']
    Vaughan_Townhouse_total_counter += 1
  if (row['city'] == 'Vaughan') & (row['type_of_house'] =='Other'):
    Vaughan_Other_prices_counter += row['price']
    Vaughan_Other_total_counter += 1
Vaughan_Detached_average_price = round(Vaughan_Detached_prices_counter / Vaughan_Detached_total_counter,2)
Vaughan_Condominium_average_price = round(Vaughan_Condominium_prices_counter / Vaughan_Condominium_total_counter,2)
Vaughan_Townhouse_average_price = round(Vaughan_Townhouse_prices_counter / Vaughan_Townhouse_total_counter,2)
Vaughan_Other_average_price = round(Vaughan_Other_prices_counter / Vaughan_Other_total_counter,2)
print(Vaughan_Townhouse_average_price)

1129280.65

In [13]:
#Burlington
#Counter to sum prices
Burlington_Detached_prices_counter = 0
Burlington_Condominium_prices_counter = 0
Burlington_Townhouse_prices_counter = 0
Burlington_Other_prices_counter = 0
#Counter to sum the total
Burlington_Detached_total_counter = 0
Burlington_Condominium_total_counter = 0
Burlington_Townhouse_total_counter = 0
Burlington_Other_total_counter = 0
for index, row in bin_df.iterrows():
  if (row['city'] == 'Burlington') & (row['type_of_house'] =='Detached'):
    Burlington_Detached_prices_counter += row['price']
    Burlington_Detached_total_counter += 1
  if (row['city'] == 'Burlington') & (row['type_of_house'] =='Condominium'):
    Burlington_Condominium_prices_counter += row['price']
    Burlington_Condominium_total_counter += 1
  if (row['city'] == 'Burlington') & (row['type_of_house'] =='Townhouse'):
    Burlington_Townhouse_prices_counter += row['price']
    Burlington_Townhouse_total_counter += 1
  if (row['city'] == 'Burlington') & (row['type_of_house'] =='Other'):
    Burlington_Other_prices_counter += row['price']
    Burlington_Other_total_counter += 1
Burlington_Detached_average_price = round(Burlington_Detached_prices_counter / Burlington_Detached_total_counter,2)
Burlington_Condominium_average_price = round(Burlington_Condominium_prices_counter / Burlington_Condominium_total_counter,2)
Burlington_Townhouse_average_price = round(Burlington_Townhouse_prices_counter / Burlington_Townhouse_total_counter,2)
Burlington_Other_average_price = round(Burlington_Other_prices_counter / Burlington_Other_total_counter,2)
print(Burlington_Townhouse_average_price)

887124.49

In [14]:
new_df = bin_df.copy()
new_df['average'] = ''
new_df.head()

,_id,address,status,latitude,longitude,floor_size,bedrooms,bathrooms,garage,city,type_of_house,date_listed,neighbourhood,price,sold_price,average
0,65e3e8514625ce6cbae3942a,167 Olive Ave,Sold Conditional,-78.853390,43.889870,831.0,1.0,1.0,0.0,Oshawa,Townhouse,2024-03-02,Central,319900.0,319900.0,
1,65e3e8514625ce6cbae3942d,124 Norwood Crt,Sold,-78.827090,43.908680,1399.0,3.0,2.0,1.0,Oshawa,Detached,2024-03-02,Eastdale,780000.0,802000.0,
2,65e3e8524625ce6cbae3942f,629 Crerar Ave,Sold,-78.836120,43.892290,1284.0,3.0,2.0,0.0,Oshawa,Detached,2024-03-02,Donevan,675000.0,777000.0,
3,65e3e8564625ce6cbae39443,1252 Hazel Way,For Sale,-79.836535,43.500604,1750.0,4.0,3.0,1.0,Milton,Townhouse,2024-03-02,Cobban,1069900.0,0.0,
4,65e3e85e4625ce6cbae3946d,1566 Farmstead Dr,For Sale,-79.839170,43.484610,NaN,4.0,4.0,2.0,Milton,Townhouse,2024-03-02,Ford,969900.0,0.0,

In [15]:
#at function from https://www.statology.org/pandas-iterrows-update-value/
#Oshawa
for index, row in new_df.iterrows():
  if (row['city'] == 'Oshawa') & (row['type_of_house'] =='Detached'):
      new_df.at[index,'average'] = Oshawa_Detached_average_price
  elif (row['city'] == 'Oshawa') & (row['type_of_house'] =='Condominium'):
      new_df.at[index,'average'] = Oshawa_Condominium_average_price
  elif (row['city'] == 'Oshawa') & (row['type_of_house'] =='Townhouse'):
      new_df.at[index,'average'] = Oshawa_Townhouse_average_price
  elif (row['city'] == 'Oshawa') & (row['type_of_house'] =='Other'):
      new_df.at[index,'average'] = Oshawa_Other_average_price
#Oakville
for index, row in new_df.iterrows():
  if (row['city'] == 'Oakville') & (row['type_of_house'] =='Detached'):
      new_df.at[index,'average'] = Oakville_Detached_average_price
  elif (row['city'] == 'Oakville') & (row['type_of_house'] =='Condominium'):
      new_df.at[index,'average'] = Oakville_Condominium_average_price
  elif (row['city'] == 'Oakville') & (row['type_of_house'] =='Townhouse'):
      new_df.at[index,'average'] = Oakville_Townhouse_average_price
  elif (row['city'] == 'Oakville') & (row['type_of_house'] =='Other'):
      new_df.at[index,'average'] = Oakville_Other_average_price
#Milton
for index, row in new_df.iterrows():
  if (row['city'] == 'Milton') & (row['type_of_house'] =='Detached'):
      new_df.at[index,'average'] = Milton_Detached_average_price
  elif (row['city'] == 'Milton') & (row['type_of_house'] =='Condominium'):
      new_df.at[index,'average'] = Milton_Condominium_average_price
  elif (row['city'] == 'Milton') & (row['type_of_house'] =='Townhouse'):
      new_df.at[index,'average'] = Milton_Townhouse_average_price
  elif (row['city'] == 'Milton') & (row['type_of_house'] =='Other'):
      new_df.at[index,'average'] = Milton_Other_average_price
#Vaughan
for index, row in new_df.iterrows():
  if (row['city'] == 'Vaughan') & (row['type_of_house'] =='Detached'):
      new_df.at[index,'average'] = Vaughan_Detached_average_price
  elif (row['city'] == 'Vaughan') & (row['type_of_house'] =='Condominium'):
      new_df.at[index,'average'] = Vaughan_Condominium_average_price
  elif (row['city'] == 'Vaughan') & (row['type_of_house'] =='Townhouse'):
      new_df.at[index,'average'] = Vaughan_Townhouse_average_price
  elif (row['city'] == 'Vaughan') & (row['type_of_house'] =='Other'):
      new_df.at[index,'average'] = Vaughan_Other_average_price
#Burlington
for index, row in new_df.iterrows():
  if (row['city'] == 'Burlington') & (row['type_of_house'] =='Detached'):
      new_df.at[index,'average'] = Burlington_Detached_average_price
  elif (row['city'] == 'Burlington') & (row['type_of_house'] =='Condominium'):
      new_df.at[index,'average'] = Burlington_Condominium_average_price
  elif (row['city'] == 'Burlington') & (row['type_of_house'] =='Townhouse'):
      new_df.at[index,'average'] = Burlington_Townhouse_average_price
  elif (row['city'] == 'Burlington') & (row['type_of_house'] =='Other'):
      new_df.at[index,'average'] = Burlington_Other_average_price
new_df.head()

,_id,address,status,latitude,longitude,floor_size,bedrooms,bathrooms,garage,city,type_of_house,date_listed,neighbourhood,price,sold_price,average
0,65e3e8514625ce6cbae3942a,167 Olive Ave,Sold Conditional,-78.853390,43.889870,831.0,1.0,1.0,0.0,Oshawa,Townhouse,2024-03-02,Central,319900.0,319900.0,702108.68
1,65e3e8514625ce6cbae3942d,124 Norwood Crt,Sold,-78.827090,43.908680,1399.0,3.0,2.0,1.0,Oshawa,Detached,2024-03-02,Eastdale,780000.0,802000.0,954823.99
2,65e3e8524625ce6cbae3942f,629 Crerar Ave,Sold,-78.836120,43.892290,1284.0,3.0,2.0,0.0,Oshawa,Detached,2024-03-02,Donevan,675000.0,777000.0,954823.99
3,65e3e8564625ce6cbae39443,1252 Hazel Way,For Sale,-79.836535,43.500604,1750.0,4.0,3.0,1.0,Milton,Townhouse,2024-03-02,Cobban,1069900.0,0.0,892208.21
4,65e3e85e4625ce6cbae3946d,1566 Farmstead Dr,For Sale,-79.839170,43.484610,NaN,4.0,4.0,2.0,Milton,Townhouse,2024-03-02,Ford,969900.0,0.0,892208.21

Now we create a target column that confirming if the house is overpriced

In [17]:
new_df['overprice'] = ''
for index, row in new_df.iterrows():
  if row['price'] > row['average']:
    new_df.at[index,'overprice'] = 1
  else:
    new_df.at[index,'overprice'] = 0
new_df.head()

,_id,address,status,latitude,longitude,floor_size,bedrooms,bathrooms,garage,city,type_of_house,date_listed,neighbourhood,price,sold_price,average,overprice
0,65e3e8514625ce6cbae3942a,167 Olive Ave,Sold Conditional,-78.853390,43.889870,831.0,1.0,1.0,0.0,Oshawa,Townhouse,2024-03-02,Central,319900.0,319900.0,702108.68,0
1,65e3e8514625ce6cbae3942d,124 Norwood Crt,Sold,-78.827090,43.908680,1399.0,3.0,2.0,1.0,Oshawa,Detached,2024-03-02,Eastdale,780000.0,802000.0,954823.99,0
2,65e3e8524625ce6cbae3942f,629 Crerar Ave,Sold,-78.836120,43.892290,1284.0,3.0,2.0,0.0,Oshawa,Detached,2024-03-02,Donevan,675000.0,777000.0,954823.99,0
3,65e3e8564625ce6cbae39443,1252 Hazel Way,For Sale,-79.836535,43.500604,1750.0,4.0,3.0,1.0,Milton,Townhouse,2024-03-02,Cobban,1069900.0,0.0,892208.21,1
4,65e3e85e4625ce6cbae3946d,1566 Farmstead Dr,For Sale,-79.839170,43.484610,NaN,4.0,4.0,2.0,Milton,Townhouse,2024-03-02,Ford,969900.0,0.0,892208.21,1

# Model Creation