In [1]:
%run api_keys.py
import pandas as pd
from datetime import datetime, timedelta
import numpy as np
import time
from api_keys import mongo_username, mongo_password #Please add to .gitnore file your own individual usernames and passwords. Also set up your account on the website with a watched area of your desire.
import pymongo

In [3]:
# Prepare weather data from specified csv
weather_data_oakville = 'Oakville_Historical_Data.csv'
selected_columns = ['HEATING_DEGREE_DAYS', 'MIN_TEMPERATURE','LOCAL_DATE', 'STATION_NAME', 'COOLING_DEGREE_DAYS', 'LOCAL_MONTH', 'LOCAL_DAY', 'LOCAL_YEAR', 'TOTAL_PRECIPITATION', 'SNOW_ON_GROUND', 'MEAN_TEMPERATURE', 'TOTAL_SNOW', 'TOTAL_RAIN', 'MAX_TEMPERATURE', 'ID']
df_weather = pd.read_csv(weather_data_oakville, usecols=selected_columns, encoding="ISO-8859-1", on_bad_lines='skip', low_memory=True, engine='python')
df_weather = df_weather.dropna(subset=['MIN_TEMPERATURE'])
df_weather = df_weather.reset_index(drop=True)
columns_to_fill = ['HEATING_DEGREE_DAYS', 'MIN_TEMPERATURE', 'COOLING_DEGREE_DAYS', 
                   'TOTAL_PRECIPITATION', 'SNOW_ON_GROUND', 'MEAN_TEMPERATURE', 
                   'TOTAL_SNOW', 'TOTAL_RAIN', 'MAX_TEMPERATURE']
df_weather[columns_to_fill] = df_weather[columns_to_fill].fillna(0)
df_weather['LOCAL_DATE'] = pd.to_datetime(df_weather['LOCAL_DATE']).dt.date
df_weather.sample(10)

,STATION_NAME,ID,LOCAL_DATE,LOCAL_YEAR,LOCAL_MONTH,LOCAL_DAY,MAX_TEMPERATURE,MIN_TEMPERATURE,MEAN_TEMPERATURE,HEATING_DEGREE_DAYS,COOLING_DEGREE_DAYS,TOTAL_RAIN,TOTAL_SNOW,TOTAL_PRECIPITATION,SNOW_ON_GROUND
2781,OSHAWA,6155875,2021-10-22,2021,10,22,9.0,3.5,6.3,11.7,0.0,0.0,0.0,0.0,0.0
275,OSHAWA,6155875,2014-06-24,2014,6,24,26.3,17.6,22.0,0.0,4.0,0.0,0.0,11.7,0.0
2004,OSHAWA,6155875,2019-08-30,2019,8,30,24.4,10.5,17.5,0.5,0.0,0.0,0.0,0.0,0.0
396,OSHAWA,6155875,2014-10-24,2014,10,24,15.2,4.6,9.9,8.1,0.0,0.0,0.0,0.0,0.0
2524,OSHAWA,6155875,2021-02-04,2021,2,4,4.6,-7.4,-1.4,19.4,0.0,0.0,0.0,0.0,0.0
3026,OSHAWA,6155875,2022-06-25,2022,6,25,28.2,14.2,21.2,0.0,3.2,0.0,0.0,0.0,0.0
273,OSHAWA,6155875,2014-06-22,2014,6,22,24.4,9.6,17.0,1.0,0.0,0.0,0.0,0.0,0.0
2115,OSHAWA,6155875,2019-12-19,2019,12,19,-7.2,-18.5,-12.9,30.9,0.0,0.0,0.0,0.0,0.0
3286,OSHAWA,6155875,2023-03-20,2023,3,20,5.1,-2.0,1.6,16.4,0.0,0.0,0.0,0.0,0.0
514,OSHAWA,6155875,2015-02-20,2015,2,20,-13.4,-23.1,-18.3,36.3,0.0,0.0,0.0,0.0,0.0

In [4]:
from pymongo import MongoClient

# Create connection string
mongo_connection_string = f'mongodb+srv://{mongo_username}:{mongo_password}@cluster0.9gjuly6.mongodb.net/'

# Connect to MongoDB
mongo_client = MongoClient(mongo_connection_string)

# Create DB
mongo_db = mongo_client.properties

# Insert data into separate collections
weather_collection = mongo_db.weather_data

In [5]:
# Insert weather into MongoDB
for index, row in df_weather.iterrows():
    weather_data_instance = {
        'id': row['ID'],
        'heating_degree_days': row['HEATING_DEGREE_DAYS'],
        'min_temperature': row['MIN_TEMPERATURE'],
        'local_date': datetime.combine(row['LOCAL_DATE'], datetime.min.time()),
        'station_name': row['STATION_NAME'],
        'cooling_degree_days': row['COOLING_DEGREE_DAYS'],
        'local_month': row['LOCAL_MONTH'],
        'local_day': row['LOCAL_DAY'],
        'local_year': row['LOCAL_YEAR'],
        'total_precipitation': row['TOTAL_PRECIPITATION'],
        'snow_on_ground': row['SNOW_ON_GROUND'],
        'mean_temperature': row['MEAN_TEMPERATURE'],
        'total_snow': row['TOTAL_SNOW'],
        'total_rain': row['TOTAL_RAIN'],
        'max_temperature': row['MAX_TEMPERATURE']
    }

    weather_collection.insert_one(weather_data_instance)

In [6]:
weather_count = mongo_db.weather_data.count_documents({})
print("Number of records in Weather Data collection:", weather_count)

Number of records in Weather Data collection: 9465

In [7]:
# Close MongoDB connection
mongo_client.close()