# Context
### Model Explanation
In order to enhance our project, we jave decided to create a  model that would predict if a house is over or under evaluated while looking at its comparable.
This criteria will be based on the listed price : Is the home listed at a significantly higher price than the neighboring properties with similar characteristics ?
Since we are facing a classification problem with a binary outcome, we chose a Logistic Regession.

# Preprocessing

In [1]:
!pip install pymongo

Requirement already satisfied: pymongo in /usr/local/lib/python3.10/dist-packages (4.6.3)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /usr/local/lib/python3.10/dist-packages (from pymongo) (2.6.1)

In [2]:
#Importing the dependencies
import pandas as pd
from pymongo import MongoClient
from api_keys import mongo_username, mongo_password
from pprint import pprint

In [3]:
#Connection to our MongoClient Instance
connection_string = f"mongodb+srv://{mongo_username}:{mongo_password}@cluster0.9gjuly6.mongodb.net/mydatabase"
mongo = MongoClient(connection_string)

#Assigning our db to a variable
db = mongo['properties']

#Assigning our collections to a variable
all_houses = db["all_houses"]
sold_houses = db['sold_houses']

In [4]:
#Converting our colloections to Pandas DataFrame
query = {"city":{"$in":['Oshawa','Oakville','Vaughan','Milton','Burlington']}}
all_houses_df = pd.DataFrame(list(all_houses.find(query)))
sold_houses_df = pd.DataFrame(list(sold_houses.find(query)))

In [5]:
all_houses_df.head()

,_id,address,status,latitude,longitude,floor_size,bedrooms,bathrooms,garage,city,type_of_house,date_listed,neighbourhood,price,sold_price
0,65e3e8514625ce6cbae3942a,167 Olive Ave,Sold Conditional,-78.853390,43.889870,831.0,1.0,1.0,0.0,Oshawa,Freehold Townhouse,2024-03-02,Central,319900.0,319900.0
1,65e3e8514625ce6cbae3942d,124 Norwood Crt,Sold,-78.827090,43.908680,1399.0,3.0,2.0,1.0,Oshawa,Detached,2024-03-02,Eastdale,780000.0,802000.0
2,65e3e8524625ce6cbae3942f,629 Crerar Ave,Sold,-78.836120,43.892290,1284.0,3.0,2.0,0.0,Oshawa,Detached,2024-03-02,Donevan,675000.0,777000.0
3,65e3e8564625ce6cbae39443,1252 Hazel Way,For Sale,-79.836535,43.500604,1750.0,4.0,3.0,1.0,Milton,Freehold Townhouse,2024-03-02,Cobban,1069900.0,0.0
4,65e3e85e4625ce6cbae3946d,1566 Farmstead Dr,For Sale,-79.839170,43.484610,NaN,4.0,4.0,2.0,Milton,Freehold Townhouse,2024-03-02,Ford,969900.0,0.0

In [6]:
sold_houses_df.head()

,_id,address,price,status,date_listed,sold_price,city,type_of_house,neighbourhood
0,65e115cb4c9403444e45be08,675 Cumberland Ave,909000.0,Sold Conditional,2024-02-29,909000.0,Burlington,Detached,Roseland
1,65e115cb4c9403444e45be09,2152 Cavendish Dr,998800.0,Sold,2024-02-29,980000.0,Burlington,Detached,Brant Hills
2,65e115cb4c9403444e45be0a,405 - 65 Speers Rd,649900.0,Sold,2024-02-29,640000.0,Oakville,Condo Apt,Old Oakville
3,65e115cb4c9403444e45be0b,810 - 975 Warwick Crt,389900.0,Sold,2024-02-29,357000.0,Burlington,Condo Apt,LaSalle
4,65e115cc4c9403444e45be0c,606 - 2175 Marine Dr,969000.0,Sold,2024-02-29,945000.0,Oakville,Condo Apt,Bronte West

In [7]:
all_houses_df.dtypes

_id                      object
address                  object
status                   object
latitude                float64
longitude               float64
floor_size              float64
bedrooms                float64
bathrooms               float64
garage                  float64
city                     object
type_of_house            object
date_listed      datetime64[ns]
neighbourhood            object
price                   float64
sold_price              float64
dtype: object

Our model compares houses based on the city but also the house type. Since we have multiple different types, we are going to bin those types

In [8]:
#Checking the different types
all_houses_df['type_of_house'].value_counts()

type_of_house
Detached                                                        6057
Condo Apt                                                       2322
Freehold Townhouse                                              1809
Condo Townhouse                                                 1062
Semi-Detached                                                    773
Link                                                             234
Apartment Unit, Condominium                                      112
Single Family Residence                                          106
Detached, Freehold                                                99
Row/Townhouse                                                     71
Condo/Apt Unit                                                    71
Townhouse/Row House, Condominium                                  50
Duplex                                                            44
Townhouse/Row House, Freehold                                     31
Vacant Land                                                       23
Semi-Detached, Freehold                                           10
Det Condo                                                         10
Semi-Det Condo                                                     9
Multiplex                                                          7
Link, Freehold                                                     5
Triplex                                                            5
Semi Detached, Single Family Residence                             4
Parking Space                                                      4
Other                                                              3
Co-Op Apt                                                          3
Rural Resid                                                        2
Co-Ownership Apt                                                   1
Multiplex, Detached                                                1
Duplex - Side/Side, Detached                                       1
Semi-Detached, Condominium                                         1
Mixed Use                                                          1
Detached, Condominium                                              1
Row / Townhouse, Attached, Single Family, Condominium/Strata       1
Farm, Detached                                                     1
Residential                                                        1
Other, Freehold                                                    1
Apartment Unit, Freehold                                           1
Name: count, dtype: int64

In [9]:
#binning types for all houses
bin_df = all_houses_df.copy()
condo_types = ['Condo Apt','Apartment Unit, Condominium','Condo/Apt Unit','Semi-Det Condo']
townhouse_types =['Freehold Townhouse','Condo Townhouse','Townhouse/Row House, Condominium','Row/Townhouse']
bins = ['Detached','Condominium','Townhouse']
# Replace in dataframe
for i in condo_types:
    bin_df['type_of_house'] = bin_df['type_of_house'].replace(i,"Condominium")

for i in townhouse_types:
    bin_df['type_of_house'] = bin_df['type_of_house'].replace(i,"Townhouse")

for i in bin_df['type_of_house']:
  if i not in bins:
      bin_df['type_of_house'] = bin_df['type_of_house'].replace(i,"Other")
# Check to make sure binning was successful
bin_df['type_of_house'].value_counts()

type_of_house
Detached       6057
Townhouse      2992
Condominium    2514
Other          1374
Name: count, dtype: int64

In [10]:
#binning types for sold_houses too
bin_df2 = sold_houses_df.copy()
condo_types = ['Condo Apt','Apartment Unit, Condominium','Condo/Apt Unit','Semi-Det Condo']
townhouse_types =['Freehold Townhouse','Condo Townhouse','Townhouse/Row House, Condominium','Row/Townhouse']
bins = ['Detached','Condominium','Townhouse']
# Replace in dataframe
for i in condo_types:
    bin_df2['type_of_house'] = bin_df2['type_of_house'].replace(i,"Condominium")

for i in townhouse_types:
    bin_df2['type_of_house'] = bin_df2['type_of_house'].replace(i,"Townhouse")

for i in bin_df2['type_of_house']:
  if i not in bins:
      bin_df2['type_of_house'] = bin_df2['type_of_house'].replace(i,"Other")
# Check to make sure binning was successful
bin_df2['type_of_house'].value_counts()

type_of_house
Detached       389
Condominium    359
Townhouse      228
Other          179
Name: count, dtype: int64

Now we are creating for loops that will help us know the mean price of each type of house per city

In [11]:
#Oshawa
#Counter to sum prices
Oshawa_Detached_prices_counter = 0
Oshawa_Condominium_prices_counter = 0
Oshawa_Townhouse_prices_counter = 0
Oshawa_Other_prices_counter = 0
#Counter to sum the total
Oshawa_Detached_total_counter = 0
Oshawa_Condominium_total_counter = 0
Oshawa_Townhouse_total_counter = 0
Oshawa_Other_total_counter = 0
for index, row in bin_df.iterrows():
  if (row['city'] == 'Oshawa') & (row['type_of_house'] =='Detached'):
    Oshawa_Detached_prices_counter += row['sold_price']
    Oshawa_Detached_total_counter += 1
  if (row['city'] == 'Oshawa') & (row['type_of_house'] =='Condominium'):
    Oshawa_Condominium_prices_counter += row['sold_price']
    Oshawa_Condominium_total_counter += 1
  if (row['city'] == 'Oshawa') & (row['type_of_house'] =='Townhouse'):
    Oshawa_Townhouse_prices_counter += row['sold_price']
    Oshawa_Townhouse_total_counter += 1
  if (row['city'] == 'Oshawa') & (row['type_of_house'] =='Other'):
    Oshawa_Other_prices_counter += row['sold_price']
    Oshawa_Other_total_counter += 1
Oshawa_Detached_average_price = round(Oshawa_Detached_prices_counter / Oshawa_Detached_total_counter,2)
Oshawa_Condominium_average_price = round(Oshawa_Condominium_prices_counter / Oshawa_Condominium_total_counter,2)
Oshawa_Townhouse_average_price = round(Oshawa_Townhouse_prices_counter / Oshawa_Townhouse_total_counter,2)
Oshawa_Other_average_price = round(Oshawa_Other_prices_counter / Oshawa_Other_total_counter,2)
print(Oshawa_Townhouse_average_price)

630592.67

In [12]:
#Oakville
#Counter to sum prices
Oakville_Detached_prices_counter = 0
Oakville_Condominium_prices_counter = 0
Oakville_Townhouse_prices_counter = 0
Oakville_Other_prices_counter = 0
#Counter to sum the total
Oakville_Detached_total_counter = 0
Oakville_Condominium_total_counter = 0
Oakville_Townhouse_total_counter = 0
Oakville_Other_total_counter = 0
for index, row in bin_df.iterrows():
  if (row['city'] == 'Oakville') & (row['type_of_house'] =='Detached'):
    Oakville_Detached_prices_counter += row['sold_price']
    Oakville_Detached_total_counter += 1
  if (row['city'] == 'Oakville') & (row['type_of_house'] =='Condominium'):
    Oakville_Condominium_prices_counter += row['sold_price']
    Oakville_Condominium_total_counter += 1
  if (row['city'] == 'Oakville') & (row['type_of_house'] =='Townhouse'):
    Oakville_Townhouse_prices_counter += row['sold_price']
    Oakville_Townhouse_total_counter += 1
  if (row['city'] == 'Oakville') & (row['type_of_house'] =='Other'):
    Oakville_Other_prices_counter += row['sold_price']
    Oakville_Other_total_counter += 1
Oakville_Detached_average_price = round(Oakville_Detached_prices_counter / Oakville_Detached_total_counter,2)
Oakville_Condominium_average_price = round(Oakville_Condominium_prices_counter / Oakville_Condominium_total_counter,2)
Oakville_Townhouse_average_price = round(Oakville_Townhouse_prices_counter / Oakville_Townhouse_total_counter,2)
Oakville_Other_average_price = round(Oakville_Other_prices_counter / Oakville_Other_total_counter,2)
print(Oakville_Townhouse_average_price)

1000590.23

In [13]:
#Milton
#Counter to sum prices
Milton_Detached_prices_counter = 0
Milton_Condominium_prices_counter = 0
Milton_Townhouse_prices_counter = 0
Milton_Other_prices_counter = 0
#Counter to sum the total
Milton_Detached_total_counter = 0
Milton_Condominium_total_counter = 0
Milton_Townhouse_total_counter = 0
Milton_Other_total_counter = 0
for index, row in bin_df.iterrows():
  if (row['city'] == 'Milton') & (row['type_of_house'] =='Detached'):
    Milton_Detached_prices_counter += row['sold_price']
    Milton_Detached_total_counter += 1
  if (row['city'] == 'Milton') & (row['type_of_house'] =='Condominium'):
    Milton_Condominium_prices_counter += row['sold_price']
    Milton_Condominium_total_counter += 1
  if (row['city'] == 'Milton') & (row['type_of_house'] =='Townhouse'):
    Milton_Townhouse_prices_counter += row['sold_price']
    Milton_Townhouse_total_counter += 1
  if (row['city'] == 'Milton') & (row['type_of_house'] =='Other'):
    Milton_Other_prices_counter += row['sold_price']
    Milton_Other_total_counter += 1
Milton_Detached_average_price = round(Milton_Detached_prices_counter / Milton_Detached_total_counter,2)
Milton_Condominium_average_price = round(Milton_Condominium_prices_counter / Milton_Condominium_total_counter,2)
Milton_Townhouse_average_price = round(Milton_Townhouse_prices_counter / Milton_Townhouse_total_counter,2)
Milton_Other_average_price = round(Milton_Other_prices_counter / Milton_Other_total_counter,2)
print(Milton_Townhouse_average_price)

846683.33

In [14]:
#Vaughan
#Counter to sum prices
Vaughan_Detached_prices_counter = 0
Vaughan_Condominium_prices_counter = 0
Vaughan_Townhouse_prices_counter = 0
Vaughan_Other_prices_counter = 0
#Counter to sum the total
Vaughan_Detached_total_counter = 0
Vaughan_Condominium_total_counter = 0
Vaughan_Townhouse_total_counter = 0
Vaughan_Other_total_counter = 0
for index, row in bin_df.iterrows():
  if (row['city'] == 'Vaughan') & (row['type_of_house'] =='Detached'):
    Vaughan_Detached_prices_counter += row['sold_price']
    Vaughan_Detached_total_counter += 1
  if (row['city'] == 'Vaughan') & (row['type_of_house'] =='Condominium'):
    Vaughan_Condominium_prices_counter += row['sold_price']
    Vaughan_Condominium_total_counter += 1
  if (row['city'] == 'Vaughan') & (row['type_of_house'] =='Townhouse'):
    Vaughan_Townhouse_prices_counter += row['sold_price']
    Vaughan_Townhouse_total_counter += 1
  if (row['city'] == 'Vaughan') & (row['type_of_house'] =='Other'):
    Vaughan_Other_prices_counter += row['sold_price']
    Vaughan_Other_total_counter += 1
Vaughan_Detached_average_price = round(Vaughan_Detached_prices_counter / Vaughan_Detached_total_counter,2)
Vaughan_Condominium_average_price = round(Vaughan_Condominium_prices_counter / Vaughan_Condominium_total_counter,2)
Vaughan_Townhouse_average_price = round(Vaughan_Townhouse_prices_counter / Vaughan_Townhouse_total_counter,2)
Vaughan_Other_average_price = round(Vaughan_Other_prices_counter / Vaughan_Other_total_counter,2)
print(Vaughan_Townhouse_average_price)

1025774.19

In [15]:
#Burlington
#Counter to sum prices
Burlington_Detached_prices_counter = 0
Burlington_Condominium_prices_counter = 0
Burlington_Townhouse_prices_counter = 0
Burlington_Other_prices_counter = 0
#Counter to sum the total
Burlington_Detached_total_counter = 0
Burlington_Condominium_total_counter = 0
Burlington_Townhouse_total_counter = 0
Burlington_Other_total_counter = 0
for index, row in bin_df.iterrows():
  if (row['city'] == 'Burlington') & (row['type_of_house'] =='Detached'):
    Burlington_Detached_prices_counter += row['sold_price']
    Burlington_Detached_total_counter += 1
  if (row['city'] == 'Burlington') & (row['type_of_house'] =='Condominium'):
    Burlington_Condominium_prices_counter += row['sold_price']
    Burlington_Condominium_total_counter += 1
  if (row['city'] == 'Burlington') & (row['type_of_house'] =='Townhouse'):
    Burlington_Townhouse_prices_counter += row['sold_price']
    Burlington_Townhouse_total_counter += 1
  if (row['city'] == 'Burlington') & (row['type_of_house'] =='Other'):
    Burlington_Other_prices_counter += row['sold_price']
    Burlington_Other_total_counter += 1
Burlington_Detached_average_price = round(Burlington_Detached_prices_counter / Burlington_Detached_total_counter,2)
Burlington_Condominium_average_price = round(Burlington_Condominium_prices_counter / Burlington_Condominium_total_counter,2)
Burlington_Townhouse_average_price = round(Burlington_Townhouse_prices_counter / Burlington_Townhouse_total_counter,2)
Burlington_Other_average_price = round(Burlington_Other_prices_counter / Burlington_Other_total_counter,2)
print(Burlington_Townhouse_average_price)

793567.96

In [16]:
new_df = bin_df.copy()
new_df['average'] = ''

In [17]:
#at function from https://www.statology.org/pandas-iterrows-update-value/
#Oshawa
for index, row in new_df.iterrows():
  if (row['city'] == 'Oshawa') & (row['type_of_house'] =='Detached'):
      new_df.at[index,'average'] = Oshawa_Detached_average_price
  elif (row['city'] == 'Oshawa') & (row['type_of_house'] =='Condominium'):
      new_df.at[index,'average'] = Oshawa_Condominium_average_price
  elif (row['city'] == 'Oshawa') & (row['type_of_house'] =='Townhouse'):
      new_df.at[index,'average'] = Oshawa_Townhouse_average_price
  elif (row['city'] == 'Oshawa') & (row['type_of_house'] =='Other'):
      new_df.at[index,'average'] = Oshawa_Other_average_price
#Oakville
for index, row in new_df.iterrows():
  if (row['city'] == 'Oakville') & (row['type_of_house'] =='Detached'):
      new_df.at[index,'average'] = Oakville_Detached_average_price
  elif (row['city'] == 'Oakville') & (row['type_of_house'] =='Condominium'):
      new_df.at[index,'average'] = Oakville_Condominium_average_price
  elif (row['city'] == 'Oakville') & (row['type_of_house'] =='Townhouse'):
      new_df.at[index,'average'] = Oakville_Townhouse_average_price
  elif (row['city'] == 'Oakville') & (row['type_of_house'] =='Other'):
      new_df.at[index,'average'] = Oakville_Other_average_price
#Milton
for index, row in new_df.iterrows():
  if (row['city'] == 'Milton') & (row['type_of_house'] =='Detached'):
      new_df.at[index,'average'] = Milton_Detached_average_price
  elif (row['city'] == 'Milton') & (row['type_of_house'] =='Condominium'):
      new_df.at[index,'average'] = Milton_Condominium_average_price
  elif (row['city'] == 'Milton') & (row['type_of_house'] =='Townhouse'):
      new_df.at[index,'average'] = Milton_Townhouse_average_price
  elif (row['city'] == 'Milton') & (row['type_of_house'] =='Other'):
      new_df.at[index,'average'] = Milton_Other_average_price
#Vaughan
for index, row in new_df.iterrows():
  if (row['city'] == 'Vaughan') & (row['type_of_house'] =='Detached'):
      new_df.at[index,'average'] = Vaughan_Detached_average_price
  elif (row['city'] == 'Vaughan') & (row['type_of_house'] =='Condominium'):
      new_df.at[index,'average'] = Vaughan_Condominium_average_price
  elif (row['city'] == 'Vaughan') & (row['type_of_house'] =='Townhouse'):
      new_df.at[index,'average'] = Vaughan_Townhouse_average_price
  elif (row['city'] == 'Vaughan') & (row['type_of_house'] =='Other'):
      new_df.at[index,'average'] = Vaughan_Other_average_price
#Burlington
for index, row in new_df.iterrows():
  if (row['city'] == 'Burlington') & (row['type_of_house'] =='Detached'):
      new_df.at[index,'average'] = Burlington_Detached_average_price
  elif (row['city'] == 'Burlington') & (row['type_of_house'] =='Condominium'):
      new_df.at[index,'average'] = Burlington_Condominium_average_price
  elif (row['city'] == 'Burlington') & (row['type_of_house'] =='Townhouse'):
      new_df.at[index,'average'] = Burlington_Townhouse_average_price
  elif (row['city'] == 'Burlington') & (row['type_of_house'] =='Other'):
      new_df.at[index,'average'] = Burlington_Other_average_price
new_df.head()

,_id,address,status,latitude,longitude,floor_size,bedrooms,bathrooms,garage,city,type_of_house,date_listed,neighbourhood,price,sold_price,average
0,65e3e8514625ce6cbae3942a,167 Olive Ave,Sold Conditional,-78.853390,43.889870,831.0,1.0,1.0,0.0,Oshawa,Townhouse,2024-03-02,Central,319900.0,319900.0,630592.67
1,65e3e8514625ce6cbae3942d,124 Norwood Crt,Sold,-78.827090,43.908680,1399.0,3.0,2.0,1.0,Oshawa,Detached,2024-03-02,Eastdale,780000.0,802000.0,816823.75
2,65e3e8524625ce6cbae3942f,629 Crerar Ave,Sold,-78.836120,43.892290,1284.0,3.0,2.0,0.0,Oshawa,Detached,2024-03-02,Donevan,675000.0,777000.0,816823.75
3,65e3e8564625ce6cbae39443,1252 Hazel Way,For Sale,-79.836535,43.500604,1750.0,4.0,3.0,1.0,Milton,Townhouse,2024-03-02,Cobban,1069900.0,0.0,846683.33
4,65e3e85e4625ce6cbae3946d,1566 Farmstead Dr,For Sale,-79.839170,43.484610,NaN,4.0,4.0,2.0,Milton,Townhouse,2024-03-02,Ford,969900.0,0.0,846683.33

Now we create a target column that confirming if the house is overpriced

In [18]:
new_df['overprice'] = ''
for index, row in new_df.iterrows():
  if row['price'] > row['average']:
    new_df.at[index,'overprice'] = 1
  else:
    new_df.at[index,'overprice'] = 0
new_df.head()

,_id,address,status,latitude,longitude,floor_size,bedrooms,bathrooms,garage,city,type_of_house,date_listed,neighbourhood,price,sold_price,average,overprice
0,65e3e8514625ce6cbae3942a,167 Olive Ave,Sold Conditional,-78.853390,43.889870,831.0,1.0,1.0,0.0,Oshawa,Townhouse,2024-03-02,Central,319900.0,319900.0,630592.67,0
1,65e3e8514625ce6cbae3942d,124 Norwood Crt,Sold,-78.827090,43.908680,1399.0,3.0,2.0,1.0,Oshawa,Detached,2024-03-02,Eastdale,780000.0,802000.0,816823.75,0
2,65e3e8524625ce6cbae3942f,629 Crerar Ave,Sold,-78.836120,43.892290,1284.0,3.0,2.0,0.0,Oshawa,Detached,2024-03-02,Donevan,675000.0,777000.0,816823.75,0
3,65e3e8564625ce6cbae39443,1252 Hazel Way,For Sale,-79.836535,43.500604,1750.0,4.0,3.0,1.0,Milton,Townhouse,2024-03-02,Cobban,1069900.0,0.0,846683.33,1
4,65e3e85e4625ce6cbae3946d,1566 Farmstead Dr,For Sale,-79.839170,43.484610,NaN,4.0,4.0,2.0,Milton,Townhouse,2024-03-02,Ford,969900.0,0.0,846683.33,1

In [19]:
new_df.dtypes

_id                      object
address                  object
status                   object
latitude                float64
longitude               float64
floor_size              float64
bedrooms                float64
bathrooms               float64
garage                  float64
city                     object
type_of_house            object
date_listed      datetime64[ns]
neighbourhood            object
price                   float64
sold_price              float64
average                  object
overprice                object
dtype: object

In [20]:
#Changing the data type for those new columns
new_df['average']=pd.to_numeric(new_df['average'])
new_df['overprice']=pd.to_numeric(new_df['overprice'])

In [21]:
new_df.dtypes

_id                      object
address                  object
status                   object
latitude                float64
longitude               float64
floor_size              float64
bedrooms                float64
bathrooms               float64
garage                  float64
city                     object
type_of_house            object
date_listed      datetime64[ns]
neighbourhood            object
price                   float64
sold_price              float64
average                 float64
overprice                 int64
dtype: object

In [22]:
new_df.keys()

Index(['_id', 'address', 'status', 'latitude', 'longitude', 'floor_size',
       'bedrooms', 'bathrooms', 'garage', 'city', 'type_of_house',
       'date_listed', 'neighbourhood', 'price', 'sold_price', 'average',
       'overprice'],
      dtype='object')

In [23]:
#Getting dummies
#status_dummies = pd.get_dummies(new_df['status'], dtype=int) Removing this dummy as I believe it is not relevant
#city_dummies = pd.get_dummies(new_df['city'], dtype=int)
type_of_house_dummies = pd.get_dummies(new_df['type_of_house'], dtype=int)
housing_df_dummies = new_df.drop(['status', 'city','type_of_house'], axis = 1)
housing_df_dummies = pd.concat([housing_df_dummies,type_of_house_dummies], axis = 1 ) #gotta add status_dummies and city_dummies here if needed

pd.set_option('display.max_columns', None)
housing_df_dummies.head()

,_id,address,latitude,longitude,floor_size,bedrooms,bathrooms,garage,date_listed,neighbourhood,price,sold_price,average,overprice,Condominium,Detached,Other,Townhouse
0,65e3e8514625ce6cbae3942a,167 Olive Ave,-78.853390,43.889870,831.0,1.0,1.0,0.0,2024-03-02,Central,319900.0,319900.0,630592.67,0,0,0,0,1
1,65e3e8514625ce6cbae3942d,124 Norwood Crt,-78.827090,43.908680,1399.0,3.0,2.0,1.0,2024-03-02,Eastdale,780000.0,802000.0,816823.75,0,0,1,0,0
2,65e3e8524625ce6cbae3942f,629 Crerar Ave,-78.836120,43.892290,1284.0,3.0,2.0,0.0,2024-03-02,Donevan,675000.0,777000.0,816823.75,0,0,1,0,0
3,65e3e8564625ce6cbae39443,1252 Hazel Way,-79.836535,43.500604,1750.0,4.0,3.0,1.0,2024-03-02,Cobban,1069900.0,0.0,846683.33,1,0,0,0,1
4,65e3e85e4625ce6cbae3946d,1566 Farmstead Dr,-79.839170,43.484610,NaN,4.0,4.0,2.0,2024-03-02,Ford,969900.0,0.0,846683.33,1,0,0,0,1

# Model Creation

In [24]:
import numpy as np
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
import tensorflow as tf
import sklearn as skl

In [25]:
#Assigning targets and features to variables
# Separate the y variable, the labels
housing_df_dummies = housing_df_dummies.dropna(how = 'any')
y = housing_df_dummies['overprice']

# Separate the X variable, the features (we drop irrelevant columns)
x = housing_df_dummies.copy()
x.drop(['overprice','_id','address', 'date_listed','neighbourhood','sold_price', 'average'], axis = 1, inplace = True)

In [26]:
x.head()

,latitude,longitude,floor_size,bedrooms,bathrooms,garage,price,Condominium,Detached,Other,Townhouse
0,-78.853390,43.889870,831.0,1.0,1.0,0.0,319900.0,0,0,0,1
1,-78.827090,43.908680,1399.0,3.0,2.0,1.0,780000.0,0,1,0,0
2,-78.836120,43.892290,1284.0,3.0,2.0,0.0,675000.0,0,1,0,0
3,-79.836535,43.500604,1750.0,4.0,3.0,1.0,1069900.0,0,0,0,1
5,-79.841700,43.365130,1750.0,4.0,4.0,1.0,1195000.0,0,0,1,0

In [27]:
print(f'We have a total of {len(x.columns)} features which are:')
print(f'{x.columns}')

We have a total of 11 features which are:
Index(['latitude', 'longitude', 'floor_size', 'bedrooms', 'bathrooms',
       'garage', 'price', 'Condominium', 'Detached', 'Other', 'Townhouse'],
      dtype='object')

In [28]:
#model is better with random_states 42,2
X_train, X_test, y_train, y_test = train_test_split(x,y, random_state = 4, test_size = 0.9)

In [29]:
#Scaling Data
X_scaler = skl.preprocessing.StandardScaler()
X_scaler.fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [30]:
# Instantiate the Logistic Regression model
model = tf.keras.models.Sequential()

#Creating layers
#There's so much that comes into choosing a house and determining whether or not it is overpriced. Hence, 2 layers.
model.add(tf.keras.layers.Dense(units = 40, activation = 'relu', input_dim = len(x.columns)))

model.add(tf.keras.layers.Dense(units = 35, activation = 'relu'))

model.add(tf.keras.layers.Dense(units = 1, activation = 'sigmoid'))

In [31]:
# Printing Summary
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 40)                480

 dense_1 (Dense)             (None, 35)                1435

 dense_2 (Dense)             (None, 1)                 36

=================================================================
Total params: 1951 (7.62 KB)
Trainable params: 1951 (7.62 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [32]:
# Compiling model
model.compile(loss = 'binary_crossentropy', optimizer = 'adam', metrics = ['accuracy'])

In [33]:
#Fitting_model
fit_model = model.fit(X_train_scaled, y_train, epochs = 50)

Epoch 1/50
40/40 [==============================] - 1s 2ms/step - loss: 0.6796 - accuracy: 0.5431
Epoch 2/50
40/40 [==============================] - 0s 2ms/step - loss: 0.5755 - accuracy: 0.7432
Epoch 3/50
40/40 [==============================] - 0s 2ms/step - loss: 0.5200 - accuracy: 0.7767
Epoch 4/50
40/40 [==============================] - 0s 2ms/step - loss: 0.4793 - accuracy: 0.7855
Epoch 5/50
40/40 [==============================] - 0s 2ms/step - loss: 0.4539 - accuracy: 0.7895
Epoch 6/50
40/40 [==============================] - 0s 2ms/step - loss: 0.4351 - accuracy: 0.7935
Epoch 7/50
40/40 [==============================] - 0s 2ms/step - loss: 0.4163 - accuracy: 0.8038
Epoch 8/50
40/40 [==============================] - 0s 2ms/step - loss: 0.4065 - accuracy: 0.8118
Epoch 9/50
40/40 [==============================] - 0s 2ms/step - loss: 0.3867 - accuracy: 0.8222
Epoch 10/50
40/40 [==============================] - 0s 2ms/step - loss: 0.3782 - accuracy: 0.8293
Epoch 11/50
40/40 [==============================] - 0s 2ms/step - loss: 0.3649 - accuracy: 0.8397
Epoch 12/50
40/40 [==============================] - 0s 2ms/step - loss: 0.3564 - accuracy: 0.8413
Epoch 13/50
40/40 [==============================] - 0s 2ms/step - loss: 0.3496 - accuracy: 0.8469
Epoch 14/50
40/40 [==============================] - 0s 2ms/step - loss: 0.3407 - accuracy: 0.8501
Epoch 15/50
40/40 [==============================] - 0s 2ms/step - loss: 0.3304 - accuracy: 0.8557
Epoch 16/50
40/40 [==============================] - 0s 2ms/step - loss: 0.3237 - accuracy: 0.8565
Epoch 17/50
40/40 [==============================] - 0s 2ms/step - loss: 0.3141 - accuracy: 0.8644
Epoch 18/50
40/40 [==============================] - 0s 2ms/step - loss: 0.3083 - accuracy: 0.8692
Epoch 19/50
40/40 [==============================] - 0s 2ms/step - loss: 0.3053 - accuracy: 0.8708
Epoch 20/50
40/40 [==============================] - 0s 2ms/step - loss: 0.2980 - accuracy: 0.8732
Epoch 21/50
40/40 [==============================] - 0s 2ms/step - loss: 0.2850 - accuracy: 0.8780
Epoch 22/50
40/40 [==============================] - 0s 2ms/step - loss: 0.2799 - accuracy: 0.8788
Epoch 23/50
40/40 [==============================] - 0s 2ms/step - loss: 0.2783 - accuracy: 0.8796
Epoch 24/50
40/40 [==============================] - 0s 2ms/step - loss: 0.2730 - accuracy: 0.8796
Epoch 25/50
40/40 [==============================] - 0s 2ms/step - loss: 0.2641 - accuracy: 0.8812
Epoch 26/50
40/40 [==============================] - 0s 2ms/step - loss: 0.2596 - accuracy: 0.8892
Epoch 27/50
40/40 [==============================] - 0s 2ms/step - loss: 0.2539 - accuracy: 0.8884
Epoch 28/50
40/40 [==============================] - 0s 2ms/step - loss: 0.2503 - accuracy: 0.8915
Epoch 29/50
40/40 [==============================] - 0s 2ms/step - loss: 0.2451 - accuracy: 0.8931
Epoch 30/50
40/40 [==============================] - 0s 2ms/step - loss: 0.2353 - accuracy: 0.9035
Epoch 31/50
40/40 [==============================] - 0s 2ms/step - loss: 0.2328 - accuracy: 0.9035
Epoch 32/50
40/40 [==============================] - 0s 2ms/step - loss: 0.2259 - accuracy: 0.9059
Epoch 33/50
40/40 [==============================] - 0s 2ms/step - loss: 0.2236 - accuracy: 0.9083
Epoch 34/50
40/40 [==============================] - 0s 2ms/step - loss: 0.2194 - accuracy: 0.9091
Epoch 35/50
40/40 [==============================] - 0s 2ms/step - loss: 0.2210 - accuracy: 0.9083
Epoch 36/50
40/40 [==============================] - 0s 2ms/step - loss: 0.2106 - accuracy: 0.9091
Epoch 37/50
40/40 [==============================] - 0s 3ms/step - loss: 0.2071 - accuracy: 0.9123
Epoch 38/50
40/40 [==============================] - 0s 3ms/step - loss: 0.2076 - accuracy: 0.9099
Epoch 39/50
40/40 [==============================] - 0s 3ms/step - loss: 0.1998 - accuracy: 0.9171
Epoch 40/50
40/40 [==============================] - 0s 3ms/step - loss: 0.1968 - accuracy: 0.9211
Epoch 41/50
40/40 [==============================] - 0s 3ms/step - loss: 0.1999 - accuracy: 0.9131
Epoch 42/50
40/40 [==============================] - 0s 3ms/step - loss: 0.1922 - accuracy: 0.9179
Epoch 43/50
40/40 [==============================] - 0s 3ms/step - loss: 0.1925 - accuracy: 0.9195
Epoch 44/50
40/40 [==============================] - 0s 2ms/step - loss: 0.1842 - accuracy: 0.9298
Epoch 45/50
40/40 [==============================] - 0s 2ms/step - loss: 0.1814 - accuracy: 0.9258
Epoch 46/50
40/40 [==============================] - 0s 3ms/step - loss: 0.1809 - accuracy: 0.9234
Epoch 47/50
40/40 [==============================] - 0s 2ms/step - loss: 0.1784 - accuracy: 0.9266
Epoch 48/50
40/40 [==============================] - 0s 2ms/step - loss: 0.1759 - accuracy: 0.9306
Epoch 49/50
40/40 [==============================] - 0s 2ms/step - loss: 0.1771 - accuracy: 0.9322
Epoch 50/50
40/40 [==============================] - 0s 2ms/step - loss: 0.1708 - accuracy: 0.9290

In [34]:
# Evaluate the model using the test data
model_loss, model_accuracy = model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

353/353 - 1s - loss: 0.1803 - accuracy: 0.9257 - 844ms/epoch - 2ms/step
Loss: 0.18030045926570892, Accuracy: 0.9257127642631531

## Exporting the model

In [35]:
# Export our model to HDF5 file
model.save('Neural_Network.h5')

/usr/local/lib/python3.10/dist-packages/keras/src/engine/training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(